
elements-registry-master-view {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    flex: 1 1 0;
    flex-wrap: nowrap;
    width: 100%;

    .data-grid {
        height: 100%;
    }

}
